main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6em;
}

main img {
  margin: auto;
  background-color: black;
  opacity: 1;
  animation: fadeIn 2s ease-in;
}

header, footer {
  text-align: center;
}

@keyframes fadeIn {
  from {
      opacity:0;
  }

  to {
      opacity:1;
  }
}