@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400&display=swap');

:root {
  --primary-color: #061826;
  --secondary-color: #FFFCF2;
  --accent1-color: #495867;
  --accent2-color: #22AAA1;
  --accent1-alpha: rgba(73, 88, 103, 0.9);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: auto;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 20px;
}

#last-updated {
  font-style: italic;
}

#contact-info p {
  margin: 5px 0;
}

#development-info p {
  margin: 5px 0;
}

#last-updated {
  font-style: italic;
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  width: 100%;
}

header .header-branding {
  display: flex;
  padding: 20px;
  margin-right: auto;
  align-items: center;
}

header h1 {
  margin: 0;
}

header img {
  width: 100px;
}

nav {
  display: none;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--accent1-color);
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  padding: 20px;
  text-align: center;
}

nav a:hover {
  background-color: var(--accent1-alpha);
}

#burger-menu {
  font-size: 2em;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 2;
}

.show-nav {
  display: flex;
}

.btn-primary {
  background-color: var(--secondary-color);
  border: 2px solid var(--accent2-color);
  color: var(--accent1-color);
  padding: 20px;
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: var(--accent2-color);
  color: var(--secondary-color);
}

#hero {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-info {
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 20px;
  padding: 1em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
}

.content-container {
  padding: 0 20px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding: 0 20px;
}

.discover-grid {
  grid-template-columns: 1fr;
}

#images-of-interest {
  padding: 1em 0;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.interest-img-container {
  position: relative;
  height: fit-content;
}

.interest-img-container img {
  width: 100%;
  height: auto;
}

.interest-img-container .img-label {
  position: absolute;
  top: 1em;
  right: 1em;
  color: white;
  background-color: rgba(73, 88, 103, 0.5);
  padding: 2em;
  border-radius: 15px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.calendar {
  width: 100%;
  height: auto;
  text-align: center;
}

.self-center {
  align-self: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input, select, textarea {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.join-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  margin: auto;
  padding: 2em;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 1em;
}

.join-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  gap: 1em;
}

.hidden {
  display: none;
}

.form-button {
  padding: 7px;
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 2px;
}

.form-button:hover {
  background-color: hsl(210, 17%, 40%);
  cursor: pointer;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}