@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400&display=swap');

:root {
  --primary-color: #D7FDF0;
  --secondary-color: #B4D6D3;
  --tertiary-color: #001524;
}

:root[data-color-mode="light"] {
  --main-bg: white;
  --main-color: var(--tertiary-color);
  --card-bg: white;
  --card-header-bg: var(--tertiary-color);
  --card-header-color: white;
  --card-color: var(--tertiary-color);
}

:root[data-color-mode="dark"] {
  --main-bg: var(--tertiary-color);
  --main-color: white;
  --card-bg: white;
  --card-header-bg: var(--secondary-color);
  --card-header-color: var(--tertiary-color);
  --card-color: var(--tertiary-color);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  background-color: var(--card-bg);
}

main .card h2 {
  margin: 0;
  padding: 0;
  color: var(--card-header-color);
  background-color: var(--card-header-bg);
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px 10px 0px 0px;
  font-weight: 200;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: auto;
  min-height: 100vh;
}

nav {
  display: none;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  width: 100%;
  text-align: center;
  padding: 10px;
  transition: 100ms ease-in-out;
}

nav a:hover {
  background-color: var(--primary-color);
  transition: 100ms ease-in-out;
}

header {
  text-align: center;
  background-color: var(--tertiary-color);
  color: white;
  font-size: xx-large;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  align-items: center;
  padding: 1em;
  position: relative;
}

header span {
  justify-self: left;
  margin-left: 1em;
}

header img {
  justify-self: right;
  border-radius: 10px;
}

main {
  min-height: 70vh;
  background-color: var(--main-bg);
}

main h1 {
  color: var(--main-color);
  font-weight: 200;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

main .card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

.active-nav-link {
  background-color: var(--primary-color);
}

.container footer {
  background-color: var(--tertiary-color);
  color: white;
  margin-top: auto;
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 1em;
  padding: 0;
}

ul li {
  margin: 0.5em 0;
}

.text-center {
  text-align: center;
}

.menu {
  position: absolute;
  top: 10rem;
  right: 1rem;
  width: 20px;
  height: 20px;
}

.menu:hover {
  cursor: pointer;
}

.burger, .xmark, .circle-half-stroke {
  fill: white;
}

.open-menu {
  display: flex;
}

.hidden {
  display: none;
}

.dark-mode-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
}

.dark-mode-btn:hover {
  cursor: pointer;
}

.hero-label {
  position: absolute;
  top: 2em;
  right: 2em;
  color: whitesmoke;
  background-color: rgba(0, 21, 36, 0.2);
  padding: 2em;
  border-radius: 15px;
}

.hero {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}

.hero img {
  width: 100%;
  height: auto;
}

.map {
  width: 100%;
  height: 100%;
  padding: 0 1em 1em 1em;
  box-sizing: border-box;
}